<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raf.storyappsubmission">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StoryAppSubmission">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAKh3m8GqgoTV5_i7Kn2DdvVzm3yl-V5aw" />

        <activity
            android:name=".maps.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>
        <activity
            android:name=".setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".newstory.NewStoryActivity"
            android:exported="false"
            android:parentActivityName=".main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>
        <activity
            android:name=".detail.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="false"
            />
        <activity
            android:name=".signin.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".setting.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".setting.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.raf.storyappsubmission"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>